.h2-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  max-width: 1200px;
  margin: 0 auto;
}

#transactions {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#transactions td {
  border: 1px solid #ddd;
  padding: 8px;
}

#transactions tr:nth-child(even) {
  background-color: #f2f2f2;
}

#transactions tr:hover {
  background-color: #ddd;
}

.transactions-link {
  color: black;
}

.green {
  color: green;
}

.yellow {
  color: rgb(176, 176, 15);
}

.red {
  color: red;
}